<div *ngIf="user">
  <div class="col-4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{user.username | uppercase}}</h2>
        </mat-card-title>
        <mat-card-subtitle>{{user.website}} - {{user.email}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{user.bio}}
        </p>

        <app-following-followers [user]=user></app-following-followers>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-8">
    <app-add-tweet></app-add-tweet>
    <app-relevant-tweets [user]=user></app-relevant-tweets>
  </div>
</div>
